body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 0 0 10px; /* Add bottom margin to the header for separation */
}

.input-container,
.output-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    resize: none;
}

.button-container {
    display: flex;
    justify-content: center;
}

#convertButton {
    background-color: #0074d9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#convertButton:hover {
    background-color: #0056b3;
}
