body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* 100% of viewport height */
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    resize: none;
}

.input-container,
.output-container {
    width: 100%;
    max-width: 600px; /* You can adjust the maximum width as needed */
    margin: 0 auto;
}

.input-container textarea,
.output-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    resize: none;
}


.button-container {
    display: flex;
    justify-content: center;
}

#convertButton {
    background-color: #0074d9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#convertButton:hover {
    background-color: #0056b3;
}
