body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.input-container,
.output-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    resize: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#convertButton {
    background-color: #0074d9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#convertButton:hover {
    background-color: #0056b3;
}